{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Deploy your websites in less than 60 seconds." />
        <meta property="og:title" content="Moshify - Deploy your websites in less than 60 seconds." />
        <meta property="og:description"
          content="Moshify is an imginary cloud hosting company. It's designed to teach people how to build modern websites using HTML5 and CSS3. To learn how to build this website from scratch, get the Ultimate HTML and CSS course on codewithmosh.com." />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="http://moshified.com/moshify.jpg" />
        <meta property="og:url" content="http://moshified.com" />
        <title>Moshify - Go Online for Just $9</title>
        <link rel="icon" href={% static "views/images/favicon-sm.png" %} />
        <link rel="apple-touch-icon" sizes="72x72" href={% static "views/images/favicon-md.png" %} />
        <link rel="apple-touch-icon" sizes="144x144" href={% static "views/images/favicon-lg.png" %} />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href={% static "views/css/styles.css" %} />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
      </head>      
<body>
    <header>
      <nav class="nav collapsible">
        <a aria-label="Moshify" class="nav__brand" href="/"><img src={% static "views/images/logo.svg" %} alt="" /></a>
        <svg class="icon icon--white nav__toggler">
          <use href={% static "views/images/sprite.svg#menu" %}></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item">
            <a target="_self" href="/">Back to menu</a>
          </li>
        </ul>
      </nav>
    </header>


    <h1>
      {% static 'img.svg' %}#clock
    </h1>
</body>
</html>