{% extends 'base.html' %}
{% load static %}
{% block title %} Hoopo-Home {% endblock %}
{% block content %}
<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <picture data-aos="zoom-in-right">
      <source
        type="views/image/webp"
        srcset="
          static/views/images/banner.webp    1x,
          static/views/images/banner@2x.webp 2x
        "
      />
      <source
        type="views/image/png"
        srcset="
          static/views/images/banner.png    1x,
          static/views/images/banner@2x.png 2x
        "
      />
      <img class="hero__image" src="{% static 'views/images/Hoopo-featurs/hero.png' %}"
      alt="" />
    </picture>
    <header class="block__header hero__content">
      <h1 data-aos="zoom-in" class="block__heading">امنیت با هدهد</h1>
      <p class="hero__tagline">همیشه پیچیدگی امنیت نیست</p>
      <a
        target="_blank"
        href="tel:02112345678"
        class="btn btn--accent btn--stretched btn--bold`"
        >تماس با هدهد</a
      >
    </header>
  </div>
</section>

<section data-aos="fade-up" class="block container block-plans">
  <header class="block__header">
    <h2>سرویس‌ها</h2>
    <p>برخی از محصولات و سرویس های ما در یک نگاه</p>
  </header>
  <div class="grid grid--1x4 grid--1x2">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">SIEM</h3>

          <span class="plan__description">سیستم مدیریت داده فلان بیسار</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">ساختار ماژولار</li>
            <li class="list__item">سازگار با تمامی برنده‌های سخت افزار شبکه</li>
            <li class="list__item">سیستم هشدار هوشمند و برخط</li>
            <li class="list__item">به روز رسانی داشبوردها توسط تیم هدهد</li>
          </ul>
          <a href="/products/SIEM" class="btn btn--outline btn--block">اطلاعات بیشتر</a>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Hoopin</h3>

          <span class="plan__description">سیستم عامل امن مورد نیاز شما</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">قابلیت شخصی سازی کامل</li>
            <li class="list__item">قابلیت نصب برنامه‌های ویندوز و لینوکس</li>
            <li class="list__item">ایجاد انواع دسترسی‌ها و فضا ها</li>
            <li class="list__item">طراحی سیستم عامل متناسب با نیاز شما</li>
          </ul>
          <a href="/products/Hoopin" class="btn btn--outline btn--block">اطلاعات بیشتر</a>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Hoopo Eye</h3>

          <span class="plan__description">هدهد حواسش هست </span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">مانیتورینگ فلان بیصار</li>
            <li class="list__item">بک آپ گیری هوشمند و مداوم</li>
            <li class="list__item">پشتیبانی و بروزرسانی مداوم توسط تیم هدهد</li>
            <li class="list__item">یه قابلیت خیلی خاص و عجیب که نمیگیم</li>
          </ul>
          <a href="/products/HoopEye" class="btn btn--outline btn--block">اطلاعات بیشتر</a>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Hoopo Test</h3>
          <span class="plan__description">ارزیابی آسیب پذیری</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">ارزیابی دقیق</li>
            <li class="list__item">ما PENTEST میزنیم خیلی خفنیم</li>
            <li class="list__item">کارمون خیلی خوبه بخدا</li>
            <li class="list__item">یه قابلیت فوق‌العاده خفن دیگه</li>
          </ul>
          <a href="/products/HoopTest" class="btn btn--outline btn--block">اطلاعات بیشتر</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact us -->
<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>نیاز به مشورت دارید ؟</h2>
  </header>
  <div class="container grid grid--1x2">
    <div class="map-container">
        <iframe class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.266413403146!2d51.389935373887035!3d35.70200050493447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e011d9d87a16b%3A0x970e70cfa6aa683d!2sMeydan-e%20Enghelab-e%20Eslami%20Metro%20Station!5e0!3m2!1sen!2s!4v1659994518075!5m2!1sen!2s"
          width="100%"
          height="500px"
          frameborder="0"
          style="border: 0"
          allowfullscreen
          ></iframe>
      </div>
    <div class="contact container contact-form">
      <form id="contact" action="" method="post">
        <div class="fieldset--1row">
          <div class="fieldset">
            <input
              name="name"
              type="text"
              id="name"
              placeholder="Full Name"
              required=""
              class="contact-field"
            />
          </div>
          <div class="fieldset">
            <input
              name="email"
              type="text"
              id="email"
              placeholder="E-mail"
              required=""
              class="contact-field"
            />
          </div>
        </div>
        <div class="fieldset">
          <textarea
            name="message"
            rows="6"
            placeholder="Your Message"
            required=""
            class="contact-field"
          ></textarea>
        </div>
        <div class="fieldset">
          <button type="submit" class="btn btn--secondary btn--stretched">
            Send It
          </button>
        </div>
        <div class="fieldset call-btn-container iconset--1row">
          <!-- <a href="tel:021-12345678" class="btn btn--primary">
                    <svg class="icon icon--white">
                        <use xlink:href="/views/static/views/images/sprite.svg#search"></use>
                    </svg>Call
                  </a>
                  <a href="tel:021-12345678" class="btn btn--primary">
                    <svg class="icon icon--white">
                        <use xlink:href="/views/static/views/images/sprite.svg#search"></use>
                    </svg>Call
                  </a> -->
        </div>
      </form>
    </div>

    <!-- <ul class="list" data-aos="fade-up">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use href='{% static "views/images/sprite.svg" %}#snap'></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam quisquam, ex nostrum vero voluptates dicta excepturi
                vel perspiciatis consequuntur ab.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use href='{% static "views/images/sprite.svg" %}#growth'></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Staging, GIT & WP-CLI</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam quisquam, ex nostrum vero voluptates dicta excepturi
                vel perspiciatis consequuntur ab.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use href='{% static "views/images/sprite.svg" %}#wordpress'></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Dynamic Caching & More</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam quisquam, ex nostrum vero voluptates dicta excepturi
                vel perspiciatis consequuntur ab.
              </p>
            </div>
          </div>
        </li>
      </ul> -->
  </div>
</section>
<section class="block" data-aos="zoom-in">
  <header class="block__header">
    <h2>همکاری های هدهد</h2>
    <p>برخی از شرکت‌ها یا ارگان‌هایی که با هدهد کار کرده‌اند</p>
  </header>
  <div class="container container--company">
    <div class="company">
      <div class="company__icon-container">
        <img
          src="{% static 'views/images/Hoopo-companies-logo/VezaratEghtesad.png' %}"
          alt=""
          class="company__icon"
        />
      </div>
      <p class="company__name">وزارت اقتصاد</p>
    </div>
    <div class="company">
      <div class="company__icon-container">
        <img
          src="{% static 'views/images/Hoopo-companies-logo/Preaident.svg' %}"
          alt=""
          class="company__icon"
        />
      </div>
      <p class="company__name">نهاد ریاست جمهوری</p>
    </div>
    <div class="company">
      <div class="company__icon-container">
        <img
          src="{% static 'views/images/Hoopo-companies-logo/TehranUniversity.png' %}"
          alt=""
          class="company__icon"
        />
      </div>
      <p class="company__name">دانشگاه تهران</p>
    </div>
    <div class="company">
      <div class="company__icon-container">
        <img
          src="{% static 'views/images/Hoopo-companies-logo/Parliament.svg' %}"
          alt=""
          class="company__icon"
        />
      </div>
      <p class="company__name">مجلس شورای اسلامی</p>
    </div>
  </div>
</section>

<!-- <div class="container">
    <div class="callout callout--primary callout-signup">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to Get Started?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
            voluptate tempora qui distinctio consequatur aliquid pariatur
            cupiditate quas cum fugit.
          </p>
        </div>
        <a target="_blank" href="https://codewithmosh.com" class="btn btn--secondary btn--stretched">Get Started</a>
      </div>
    </div>
  </div> -->
{% endblock%}
