{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{service.name}}1234
{% endblock %}
{% block content %}
  {% load static %}
<section class="block block--light-dark block--dark">
  <div class="container">
    <header class="block__header">
      <h2>{{service.title}}</h2>
      <p>
        {{service.description}}
      </p>
    </header>
    {% for feature in service.features %}
    {{feature.title}}
    {% endfor %}
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <h3 class="feature__heading"></h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
          vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="views/image/webp"
          srcset={% static "views/images/easy.webp 1x" , "views/images/easy@2x.webp 2x" %}
        />
        <source
          type="views/image/jpg"
          srcset={% static "views/images/easy.jpg 1x" , "views/images/easy@2x.jpg 2x" %}
        />
        <img class="feature__image" src="{% static 'views/images/Hoopo-featurs/photo-1.jpg' %}" alt="" />
      </picture>
    </article>
    <!-- <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <h3 class="feature__heading">Simply Fast Websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
          vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="views/image/webp"
          srcset={% static "views/images/fast.webp 1x" , "views/images/fast@2x.webp 2x" %}
        />
        <source
          type="views/image/jpg"
          srcset={% static "views/images/fast.jpg 1x" , "views/images/fast@2x.jpg 2x" %}
        />
        <img class="feature__image" src="{% static 'views/images/Hoopo-featurs/photo-3.png' %}" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <h3 class="feature__heading">Wordpress Made Easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
          vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="views/image/webp"
          srcset={% static "views/images/wordpress.webp 1x" , "views/images/wordpress@2x.webp 2x" %}
        />
        <source
          type="views/image/jpg"
          srcset={% static "views/images/wordpress.jpg 1x" , "views/images/wordpress@2x.jpg 2x" %}
        />
        <img class="feature__image" src="{% static 'views/images/Hoopo-featurs/photo-2.jpg' %}" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <h3 class="feature__heading">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
          vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="views/image/webp"
          srcset={% static "views/images/support.webp 1x" , "views/images/support@2x.webp 2x" %}
        />
        <source
          type="views/image/jpg"
          srcset={% static "images/support.jpg 1x" , "views/images/support@2x.jpg 2x" %}
        />
        <img class="feature__image" src="{% static 'views/images/Hoopo-featurs/photo-4.png' %}" alt="" />
      </picture>
    </article> -->
  </div>
</section>
{% endblock %}