<section class="block" data-aos="zoom-in">
  <header class="block__header">
    <h2>همکاری های هدهد</h2>
    <p>برخی از شرکت‌ها یا ارگان‌هایی که با هدهد کار کرده‌اند</p>
  </header>
  <div class="container container--company">
    <div class="company">
      <div class="company__icon-container">
        <img
          src="{% static 'views/images/Hoopo-companies-logo/VezaratEghtesad.png' %}"
          alt=""
          class="company__icon"
        />
      </div>
      <p class="company__name">وزارت اقتصاد</p>
    </div>
    <div class="company">
      <div class="company__icon-container">
        <img
          src="{% static 'views/images/Hoopo-companies-logo/Preaident.svg' %}"
          alt=""
          class="company__icon"
        />
      </div>
      <p class="company__name">نهاد ریاست جمهوری</p>
    </div>
    <div class="company">
      <div class="company__icon-container">
        <img
          src="{% static 'views/images/Hoopo-companies-logo/TehranUniversity.png' %}"
          alt=""
          class="company__icon"
        />
      </div>
      <p class="company__name">دانشگاه تهران</p>
    </div>
    <div class="company">
      <div class="company__icon-container">
        <img
          src="{% static 'views/images/Hoopo-companies-logo/Parliament.svg' %}"
          alt=""
          class="company__icon"
        />
      </div>
      <p class="company__name">مجلس شورای اسلامی</p>
    </div>
  </div>
</section>
