<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/views/static/views/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

    <div style="margin: 10rem; background-color: beige; border-radius: 25px;">
        <div class="fieldset iconset">
            <a href="tel:021-12345678" class="btn btn--primary">
                <svg class="icon icon--white">
                    <use xlink:href="/views/static/views/images/sprite.svg#search"></use>
                </svg>call
            </a>

            <a href="tel:021-12345678" class="btn btn--primary">
                <svg class="icon icon--white">
                    <use xlink:href="/views/static/views/images/sprite.svg#search"></use>
                </svg>whatsapp
            </a>
        </div>
    </div>
    
</body>
</html>